# temp files
_*
!**/__init__.py

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb
IA2-toPLUTO.ipynb
!Jnotebooks/*ipynb

# virtual environment
venv

# Derived plots or files
visualisation/
*.png
*.txt

# Slurm jobs
*.sl
slurm*
